<h3>CART</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div *ngFor="let item of items" class="cart-item">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
</div>

<!--Create the checkout form
Use the following steps to add a checkout form at the bottom of the Cart view.
  1. At the bottom of cart.component.html, add an HTML <form> element and a Purchase button.
  2. Use a formGroup property binding to bind checkoutForm to the HTML <form>.
  3. On the form tag, use an ngSubmit event binding to listen for the form
   submission and call the onSubmit() method with the checkoutForm value.
  4. Add <input> fields for name and address, each with a formControlName
   attribute that binds to the checkoutForm form controls for name and address
    to their <input> fields.
  https://angular.io/start/start-forms#create-the-checkout-form -->
<form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
    <div>
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text">
    </div>
    <div>
        <label for="address">Address</label>
        <input formControlName="address" id="address" type="text">
    </div>

    <button class="button" type="submit">Purchase</button>

</form>